@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.container-ppal {
    @apply flex flex-col flex-1 justify-between h-screen mx-5 ;
}

.panel_empresa {
    @apply z-50
    transition ease-in duration-500
    w-20v h-20v bg-gray-200 rounded
    border border-red-600 ;
}

.boton1 {
        @apply hidden md:block  text-2xl bg-fondo font-semibold border border-red-600 rounded hover:bg-red-600
        hover:text-white  hover:border-transparent  transition  ease-in duration-200
        transform hover:translate-y-1;
    }

/*.boton1 {*/
/*        @apply hidden md:block  text-2xl bg-fondo font-semibold border border-red-600 rounded hover:bg-red-600*/
/*        hover:text-white  hover:border-transparent  transition  ease-in duration-200*/
/*        transform hover:-translate-y-1;*/
/*    }*/

/*active:translate-y-0 */
.boton2 {
    @apply mx-1  px-4
    2xl:bg-red-200
    text-red-800
    font-semibold border
    border-red-600
    rounded hover:bg-red-600
    hover:text-white
    hover:border-transparent
    transition
    ease-in duration-200
    transform hover:translate-y-1;
}
/*.boton2 {*/
/*    @apply mx-1  px-4*/
/*    2xl:bg-red-200*/
/*    text-red-800*/
/*    font-semibold border*/
/*    border-red-600 rounded hover:bg-red-600*/
/*    hover:text-white*/
/*    hover:border-transparent*/
/*    transition*/
/*    ease-in duration-200*/
/*    transform hover:-translate-y-1;*/
/*}*/

/*    active:translate-y-0*/

/*en sd es hidden, solo en md, lg, */

/*Quioero 1/3 del ancho de su contenedor (goupButtonFamily)*/
.sizeButtonFamily{
    @apply w-full
}
.imgFamily{
    @apply max-w-full object-scale-down  w-44 h-44
}

/* Que ocupe 1/4 del ancho de la parte main para mostrar los botones de izd o decha*/
.groupButtonFamily{
    @apply hidden md:flex
    flex-col justify-between items-center
    z-50
    w-1/4
    h-75v
    pl-8 pr-8
}
.anclaFamilia {
    @apply
    flex
    items-center  justify-center
        grow
    px-4    py-2
    border    border-transparent
    rounded-md
    font-semibold
    text-xs    text-white
    uppercase
    tracking-widest
    hover:bg-gray-700
    focus:outline-none
    focus:border-gray-900
    focus:ring
    ring-gray-300
    disabled:opacity-25
    transition ease-in-out duration-150 m-2;
}

/*.active {*/
/*    @apply  visible  transform    translate-x-4    translate-y-4 bg-purple-300 z-50*/
/*    transition duration-500 bg-blue-600 bg-red-600 transform -translate-y-1 scale-110;*/
/*}*/
.active {
    @apply visible  transform    skew-y-12 scale-150 animate-pulse;
}

/*active:bg-gray-900*/
.pediente {
    @apply animate-ping absolute inline-flex h-full w-full rounded-full bg-purple-400 opacity-75;
}

.transmitiendose {
    @apply animate-spin h-5 w-5 mr-3 ;

}

.finalizada {
    @apply bg-gradient-to-r bg-gray-400;
}
